{% extends 'index.html' %}
{% block content %}
<div>
    <h2>Add a New Polling Unit & Party Result</h2>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <table class="table table-hover table-striped" id="party_table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Party</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for party in parties %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{party.name}}</td>
                    <td><input type="number"  class="form-control" name="parties" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}